.sidebar {
  width:220px;
  min-width:220px;
  background:white;
  border-right:1px solid #eee;
  padding:25px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

/* Mobile behavior */
@media (max-width: 768px){

  .sidebar{
    position:fixed;
    left:-240px;
    top:65px;
    height:100%;
    transition:0.3s;
    z-index:1000;
  }

  .sidebar.open{
    left:0;
  }

}
.sidebar a {
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 6px;
  color: #333;
  font-size: 15px;
  transition: 0.2s;
}

.sidebar a:hover{
  background:var(--primary-light);
  color:white;
}