.subject-card {
  background: white;
  padding: 22px;
  border-radius: 10px;
  border: 1px solid #ececec;
  transition: 0.2s;
  cursor: pointer;
}

.subject-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.05);
}

.subject-card h3 {
  font-size: 17px;
  margin-bottom: 6px;
}

.subject-card p {
  font-size: 14px;
  color: #666;
}