.topic-card {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ececec;
  transition: 0.2s;
  cursor: pointer;
}

.topic-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.05);
}

.topic-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
  color: #222;
}

.topic-card p {
  font-size: 14px;
  color: #666;
}