.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 360px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.modal-box h3 {
  text-align: center;
}

/* INPUT */
.modal-box input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modal-box input:focus {
  outline: none;
  border-color: #9395d3;
}

/* FIELD */
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 13px;
  color: #555;
}

/* REVISION BOX */
.revision-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
}

.revision-box span {
  font-weight: 500;
}

.revision-box button {
  background: #9395d3;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.revision-box button:hover {
  background: #7f82d9;
}

/* ACTIONS */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.confirm-btn {
  background: #9395d3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: #7f82d9;
}

.cancel-btn {
  background: #ccc;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}