.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f6f7ff;
}

.auth-card{
  background:white;
  padding:40px;
  border-radius:12px;
  width:340px;
  display:flex;
  flex-direction:column;
  gap:16px;
  border:1px solid #eee;
  box-shadow:0 6px 20px rgba(0,0,0,0.05);
}

.auth-card h2{
  text-align:center;
  margin-bottom:10px;
}

.auth-card input{
  padding:12px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:14px;
}

.auth-card input:focus{
  outline:none;
  border-color:#9395d3;
}

.auth-btn{
  background:#9395d3;
  color:white;
  border:none;
  padding:12px;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s;
}

.auth-btn:hover{
  background:#7f82d9;
}

.auth-switch{
  font-size:14px;
  text-align:center;
}

.auth-switch a{
  color:#9395d3;
  text-decoration:none;
}


/* Focus highlight */
.auth-card input:focus {
  outline: none;
  border: 2px solid #9395d3;
  box-shadow: 0 0 0 2px rgba(147, 149, 211, 0.2);
}

/* Button click effect */
.auth-btn:active {
  transform: scale(0.97);
  border: 2px solid #6c70d6;
}

/* Password wrapper */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
}

/* Eye icon */
.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
}