html, body {
  overflow-x: hidden;
}

body{
  margin:0;
  font-family: system-ui, -apple-system, sans-serif;
  background:var(--background);
  color:var(--text-dark);
}

#root{
  width:100%;
  height:100%;
}
:root{
  --primary:#9395D3;
  --primary-light:#B3B7EE;
  --bg:#FBF9FF;
  --text-dark:#000807;
  --text-muted:#A2A3BB;
}